<html ng-app="TestApp">
	<head>
		<title>DS-NodeJS-101-HelloWithAngularNodeAndExpress</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	</head>
	<body ng-controller="MainController as vm">
		{{vm.message}}
	</body>
	<script>
			var clientMessage =  <%- JSON.stringify(serverMessage) %>
		</script>
		<script src="/assets/js/app.js"></script>
</html>